<div
    style="font-family: Arial, sans-serif; color: #333; background-color: #e6f2ff; padding: 20px; border-radius: 10px;">
    <h2
        style="font-size: 24px; margin-bottom: 16px; background-color: #0056b3; color: #fff; border-radius: 10px; padding: 15px;">
        Hello, {{name}}!
    </h2>
    <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px; color: #004080;">
        We are pleased to inform you that you have successfully enrolled in the <strong>{{courseName}}</strong> course.
    </p>
    <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px; color: #003366;">
        Payment Type: <strong>{{paymentType}}</strong>
    </p>
    <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px; color: #00264d;">
        Should you have any questions or need further assistance, please do not hesitate to contact us.
    </p>
    <p style="font-size: 16px; line-height: 1.5; color: #001933;">
        Sincerely,
    </p>
    <p style="font-size: 16px; line-height: 1.5; margin-top: 0; color: #001326;">
        The LifeStyleLeverage Team
    </p>
</div>