<div style="background-color: #428bca; padding: 2rem; border-radius: 1rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
  <h2 style="background-color: #2e639c; padding: 1rem; color: white; border-radius: 0.5rem;">Verification Code</h2>
  <p style="background-color: #d1e0e9; padding: 1rem;">
    <span style="font-weight: bolder;">Your Code: </span>
    {{otp}}
  </p>
</div>